{% load staticfiles %}

<html>
    <head>
        <title>Portaria</title>
        <!-- link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <nav class="light-blue lighten-3">
            <div class="container nav-wrapper ">
                <a href="#" class="brand-logo">Portaria</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="">Sass</a></li>
                    <li><a href="">Components</a></li>
                    <li><a href="">JavaScript</a></li>
                </ul>
            </div>
        </nav>

        <main class="container main">
            {% block content %}
            {% endblock %}
        </main>

        <footer class="page-footer light-blue lighten-3">
            <div class="footer-copyright">
                <div class="container">
                    <span>&copy;2018. Câmara Municipal de Três Corações.</span>
                </div>
            </div>
        </footer>

        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- <script src="{% static 'js/main.js' %}"></script> -->
        <script src="{% static 'js/estados_cidades.js' %}"></script>
    </body>
</html>