{% extends 'base.html' %}
{% block content %}

<div class='container'>
    <h5 class='center-align'>Histórico de Visitas</h5>

    <form method="GET" class="filtros">
        <h6 class="center-align">Filtrar:</h6>
        <br />

        <div class="row">
            {% for item in form %}
            {% if item.id_for_label == "id_busca" %}
            <div class="col s6">
                {{ item.label_tag }}
                {{ item }}
            </div>
            {% else %}
            <div class="col s2">
                    {{ item.label_tag }}
                    {{ item }}
            </div>
            {% endif %}
            {% endfor %}
            <div class="col s2">
                <button class="btn submit-recuo btn waves-effect waves-light light-blue lighten-3" type="submit">Buscar</button>
            </div>
        </div>
    </form>

    <table class="highlight">
        <thead>
            <tr>
                <th width="40%">Visitante</th>
                <th width="25%">Setor</th>
                <th width="15%">Data</th>
                <th width="10%">Entrada</th>
                <th width="10%">Saída</th>
            </tr>
        </thead>
        <tbody>
            {% for item in visitas %}
            {% if item.horarioSaida == None %}
                <tr onclick="window.location=`{% url 'cadastro:visita_detalhes' pk=item.pk %}`">
            {% else %}
                <tr onclick="window.location=`{% url 'cadastro:visita_detalhes' pk=item.pk %}`">
            {% endif %}
                    <td>{{ item.pessoa.nome }}</td>
                    <td>{{ item.setor }}</td>
                    <td>{{ item.data|date:'d/M/Y' }}</td>
                    <td>{{ item.horarioEntrada }}</td>
                    {% if item.horarioSaida == None %}
                        <td>-</tr>
                    {% else %}
                        <td>{{ item.horarioSaida }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination center-align">
        <span class="step-links">
            <p class="current">
                Página {{ visitas.number }} de {{ visitas.paginator.num_pages }}.
            </p>

            {% if visitas.has_previous %}
                <a href="?page=1">&laquo;</a>
                <a href="?page={{ visitas.previous_page_number }}">Anterior</a>
                {% if visitas.has_next %}
                    <span>|</span>
                {% endif %}
            {% endif %}
        
            {% if visitas.has_next %}
                <a href="?page={{ visitas.next_page_number }}">Próxima</a>
                <a href="?page={{ visitas.paginator.num_pages }}">&raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

{% endblock %}