{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

{% comment %} <div class="jumbotron">
</div> {% endcomment %}

<div class="container row" id="options">
    <div class="col s12 m6 l4">
        <a href="{% url 'cadastro:cadastro_pessoas' %}">
            <div class="card">
                <div class="card-image" id="card-visitante">
                    <img class="img-option" src="{% static 'img/team.svg' %}" />
                </div>
                <div class="card-content center-align">
                    <h5>Cadastro de Visitantes</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col s12 m6 l4">
        <a href="{% url 'cadastro:cadastro_visitas' %}">
            <div class="card">
                <div class="card-image" id="card-visita">
                    <img class="img-option" src="{% static 'img/visitor.svg' %}" />
                </div>
                <div class="card-content center-align">
                    <h5>Cadastro de Visitas</h5>
                </div>
            </div>
        </a>
    </div>

    <div class="col s12 m6 l4">
        <a href="{% url 'cadastro:historico_visitas' %}">
            <div class="card">
                <div class="card-image" id="card-historico">
                    <img class="img-option" src="{% static 'img/checklist.svg' %}" />
                </div>
                <div class="card-content center-align">
                    <h5>Histórico de Visitas</h5>
                </div>
            </div>
        </a>
    </div>
</div>

{% endblock %}