{% extends 'base.html' %}

{% block content %}
    <h5>Nova Pessoa</h5>
    
    <form method="POST" class="">
        {% csrf_token %}
        {% for field in form %}
            {% if field.id_for_label == "id_nome" or field.id_for_label == "id_endereco" %}
                <div class="row">
                    <div class="col s12">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                </div>                
            {% elif field.id_for_label == "id_cpf" %}
                <div class="row">
                    <div class="col s6">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
            {% elif field.id_for_label == "id_rg" %}
                    <div class="col s6">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                </div>
            {% elif field.id_for_label == "id_bairro" %}
                <div class="row">
                    <div class="col s4">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
            {% elif field.id_for_label == "id_estado" %}
                    <div class="col s4">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
            {% elif field.id_for_label == "id_cidade" %}
                    <div class="col s4">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                </div>
            {% endif %} 
            {% endfor %}
        <button type="submit" class="save btn btn-success">Enviar</button>
    </form>
{% endblock %}