/* Geral ===== */

html{
    color: #373737;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-content{
    margin-top: 50px;
}

/* Home ===== */

.jumbotron{
    position: relative;
    padding-top: 15px;
    width: 100%;
    height: 50%;
    background-color: antiquewhite;
    z-index: -1;
    margin-bottom: 50px;
}

.card-image{
    height: 250px;
}

/* Forms ===== */

.select-dropdown{
    overflow-y: auto !important;
}

.submit-recuo{
    margin-top: 20px;
}

.add-pessoa{
    width: 20px;
    height: 20px;
    margin-top: 30px;
}

/* Histórico ===== */

.lista{
    margin-top: 30px;
    /* border-collapse: separate !important;
    border-spacing: 0; */
    border: solid;
    border-width: 2px;
    border-radius: 13px;
}

.visita-item{
    cursor: pointer;
    height: 80px;
    background-color: #6cdb6f;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    transition: ease-in-out 0.75s background-color;
}

.visita-item:hover{
    background-color: #e8f5e9;
}

.visitando{
    height: 80px;
    background-color: #f1685e;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    transition: ease-in-out 0.75s background-color;
}

.visitando:hover{
    background-color: #fcb9b2;
}