/* Geral ===== */

html{
    color: #373737;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-content{
    margin-top: 50px;
}

/* Navbar ===== */

.arrow{
    position: absolute;
    display: inline-block;
    height: 30px;
    width: 70px;
    margin-top: 20px;
}

/* Home ===== */

.jumbotron{
    position: relative;
    padding-top: 15px;
    width: 100%;
    height: 50%;
    background-color: antiquewhite;
    z-index: -1;
    margin-bottom: 50px;
}

#options{
    margin-top: 10%;
}

.card-image{
    height: 220px;
}

.img-option{
    padding-top: 20px;
    padding-bottom: -20px;
    height: 180px;
    width: 180px;
}

#card-visitante{
    background-color: #c5cae9;
}

#card-visita{
    background-color: #ffcdd2;
}

#card-historico{
    background-color: #c8e6c9;
}

#card-lista{
    background-color: #fcd19c;
}

/* Busca Visitante */

.lista-results{
    position: absolute;
    margin-top: -10px;
    border: solid;
    border-width: 1px;
    border-color: gray;
    width: 500px;
    background-color: white;
    z-index: 1;
}

.firstItem{
    padding-top: 10px;
}

.itemListaBusca{
    padding-top: 5px;
}

.firstItem, .itemListaBusca{
    padding-bottom: 5px;
    padding-left: 30px;
}

.itemListaBusca:hover, .firstItem:hover{
    background-color: #81D4FA;
    cursor: pointer;
}

/* Forms ===== */

.select-dropdown{
    overflow-y: auto !important;
}

.submit-recuo{
    margin-top: 20px;
}

.add-pessoa{
    width: 20px;
    height: 20px;
    margin-top: 30px;
}

.foto-visita{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

/* Histórico de Visitas e Listar Visitantes ===== */

.highlight tbody{
    cursor: pointer;
}

.filtros{
    margin-top: 100px;
    margin-bottom: 50px;
}

.visitantes-ativos{
    margin-top: 30px;
}

.visitas-presentes{
    margin: 0 auto;
    width: 700px;
}

.lista{
    margin-top: 30px;
    /* border-collapse: separate !important;
    border-spacing: 0; */
    border: solid;
    border-width: 2px;
    border-radius: 13px;
}

.visita-item{
    cursor: pointer;
    height: 25px;
    background-color: #6cdb6f;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    transition: ease-in-out 1s background-color;
}

.visita-item:hover{
    background-color: #cef8d2;
}

.visitando{
    height: 25px;
    background-color: #f1685e;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    transition: ease-in-out 1s background-color;
}

.visitando:hover{
    background-color: #fcb9b2;
}

.botao-editar{
    height: 20px;
    width: 20px;
}

/* Detalhes ===== */

.visita-detalhes{
    margin-top: 40px;
}

.foto-perfil{
    height: 200px;
    width: 200px;
    border: solid;
    border-radius: 50%;
    border-width: 3px;
    border-color: #E3E3E3;
}

/* .detalhes-perfil{
    border: solid;
    border-color: #e3e3e3;
    border-width: 1px;
}

.alinhar{
    margin-top: -20px;
} */

/* Outros ===== */

.recuo-pagina{
    margin-top: 50px;
}