html{
    color: #373737;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-content{
    margin-top: 50px;
}

.select-dropdown{
    overflow-y: auto !important;
}

.jumbotron{
    position: relative;
    padding-top: 15px;
    width: 100%;
    height: 50%;
    background-color: antiquewhite;
    z-index: -1;
    margin-bottom: 50px;
}

.card-image{
    height: 250px;
}

.submit-recuo{
    margin-top: 20px;
}